---
import { PageGuard } from '@/lib/ui/page-guard';

const guard = await PageGuard.protect(Astro, 'admin');
if (guard) return guard;

import { AdminUserManagement } from '../../components/admin/admin-user-management';
// TODO: Use correct shell
---

<div className="p-6">
  <AdminUserManagement client:only="react" />
</div>
---
